.main-container-flexbox {
  display: flex;
  justify-content: center;
}

.main-container {
  background: white;
  width: 54%;
  height: 100%;

  border-left: 1px solid rgba(125, 136, 255, 0.5);
  border-right: 1px solid rgba(124, 136, 255, 0.5);

  margin-left: 10px;
  margin-right: 10px;
}

.sidebar-wrapper {
  flex: 0 0 14%;
/*  background: red;*/
}

.sidebar-left,
.sidebar-right {
  position: fixed;

  background: white;
  margin-top: 10px;
  border-radius: 3px;
  border: 1px solid rgba(125, 136, 255, 0.5);
  padding: 10px;

  font-family: 'Varela Round', sans-serif;
}

.sidebar-left {
  width: 14%;
  box-sizing: border-box;
}

.sidebar-right {
  display: none; /* FOR NOW */
}

.sidebar-header {
  width: 100%;
}

.sidebar-header a {
  text-decoration: none;
  color: rgba(125, 136, 255, 0.85);
  padding: 3px;
}

.sidebar-header hr {
  border: none;
  border-top: 1px solid rgba(125, 136, 255, 0.5);
}

/* Categories */
ul.categories-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.categories-list li a {
  text-decoration: none;
  color: black;
  width: 100%;
  display: block;
  padding: 3px;
  box-sizing: border-box;
  border-radius: 3px;
}

ul.categories-list li a:hover {
  background: rgba(125, 136, 255, 0.85);
  color: white;
}

/* Main Container shit */
.main-container {

}
.mc-header-wrapper {
}

.mc-header {
  position: fixed;
  width: 54%;
  box-sizing: border-box;
  padding: 20px;
  font-family: 'Varela Round', sans-serif;
  background: white;
  color: rgba(125, 136, 255, 0.85);

  display: flex;
  align-items: center;

  z-index: 2;
}

.mc-header h1,
.mc-header a {
  display: inline;
}

.mc-header a {

  margin-left: auto;
}

.mc-header hr {
  border: none;
  margin: 20px 0 0 0;
  border-bottom: 1px solid rgba(125, 136, 255, 0.5);
}

.mc-header-spacing {
  padding: 20px;
  font-family: 'Varela Round', sans-serif;
  opacity: 0;
  z-index: 1;
}

.mc-header h1 ,
.mc-header-spacing h1 {
  margin: 0;
}
