html, body {
  height: 100%;
}

body {
  margin: 0;
  background: rgba(125, 136, 255, 0.25);
}

.modal-container {
  height: 100%;
  padding: 0;
  margin: 0;

  display: -webkit-flex;
  display:  -webkit-box;
  display:  -ms-flexbox;
  display:     -moz-box;
  display:         flex;

  /* vertically center */
  align-items: center;

  /* horizontally center */
  justify-content: center;
}

.modal {
  background: white;
  width: 300px;
  border-radius: 3px;
  text-align: center;
  padding: 20px;
  padding-bottom: 30px;
  border: 1px solid rgba(125, 136, 255, 0.5);
}

.modal span.logo {
  font-family: 'Varela Round', sans-serif;
  font-size: 3em;

}

.modal span.logo:hover {
  cursor: pointer;
}

.modal span.logo a {
  text-decoration: none;
  color: #7d88ff;
}

.links-container a {
  color: white;
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
  display: inline-block;
  width: 245px;
  background: rgba(125, 136, 255, 0.75);
  border-radius: 3px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid rgba(125, 136, 255, 0.5);
}

.links-container form {
  margin-bottom: 0px;
}

/* login form for login.html */
#login-form,
#register-form {
  margin-bottom: 0px;
}

#login-form input,
#register-form input {
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
  border-radius: 3px;
  font-size: 1em;

  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;

  border: 1px solid rgba(125, 136, 255, 0.5);
  margin-top: 10px;
  padding: 10px;
  width: 265px;
  color: rgba(125, 136, 255, 0.5);

}

#login-form input::-webkit-input-placeholder,
#register-form input::-webkit-input-placeholder {
  color: rgba(125, 136, 255, 0.5);
}

/* Firefox 18- */
#login-form input:-moz-placeholder,
#register-form input:-moz-placeholder {
  color: rgba(125, 136, 255, 0.5);
}

/* Firefox 19+ */
#login-form input::-moz-placeholder,
#register-form input::-moz-placeholder {
  color: rgba(125, 136, 255, 0.5);
}

#login-form input:-ms-input-placeholder,
#register-form input:-ms-input-placeholder  {
  color: rgba(125, 136, 255, 0.5);
}

#login-form input:focus,
#register-form input:focus {
  border: 1px solid rgba(125, 136, 255, 1);
  outline: none;
  color: rgb(125, 136, 255);
}

#login-form button,
#register-form button {
  color: white;
  font-family: 'Varela Round', sans-serif;
  width: 265px;
  background: rgba(125, 136, 255, 0.75);
  border-radius: 3px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid rgba(125, 136, 255, 0.5);
  margin-top: 10px;
  outline: none;
}

#login-form button:hover,
.links-container a:hover {
  cursor: pointer;
  background: rgba(125, 136, 255, 0.65);
}

#login-form button:active,
.links-container a:active {
  background: rgba(125, 136, 255, 0.85);
}

#login-form span.newUser,
#register-form span.newUser {
  font-family: 'Varela Round', sans-serif;
}

#login-form span a,
#register-form span a {
  color: rgba(125, 136, 255, 1);
  padding: 0px;
  width: auto;
  border: none;
  text-decoration: none;
  background: none;
}
