<head>
  <title>A place for discovery | Clarity</title>

  <link rel="shortcut icon" type="image/ico" href="../static/img/favicon.ico">
  <link rel="stylesheet" href="../static/css/forum.css">
</head>

{% include 'header.html' %}

<body>
  <!-- Main container -->
  <div class="main-container-flexbox">
    <div class="sidebar-wrapper">
      <div class="sidebar-left">
        <!-- This will go to Categories page maybe -->
        <div class="sidebar-header">
          <a href="#">Categories</a>
          <hr>
        </div>
        <ul class="categories-list">
	  {% for x in categories %}
          <li><a href='{{ url_for('forum', category=x[0]) }}'>{{ x[0] }}</a></li>
          {% endfor %}
	</ul>
	<!--li><a href='{{ url_for('forum', category="#LMFAO") }}'>#LMFAO</a></li>
          <li><a href='{{ url_for('forum', category="#WUT") }}'>#WUT</a></li>
          <li><a href='{{ url_for('forum', category="#Food") }}'>#Food</a></li>
          <li><a href='{{ url_for('forum', category="#Cars") }}'>#Cars</a></li>
          <li><a href='{{ url_for('forum', category="#Funny") }}'>#Funny</a></li>
          <li><a href='{{ url_for('forum', category="#Movies") }}'>#Movies</a></li>
          <li><a href='{{ url_for('forum', category="#Programming") }}'>#Programming</a></li>
          <li><a href='{{ url_for('forum', category="#Gaming") }}'>#Gaming</a></li>
        </ul-->
      </div>
    </div>

    <div class="main-container">
      {% if username %}
      <a href="{{ url_for('postquestion') }}">Ask a Question</a>
      {% endif %}


      <div class="mc-header-wrapper">
        <div class="mc-header">
          {% if category %}
          <h1>{{ category }} Questions</h1>
          {% else %}
          <h1>All Questions</h1>
          {% endif %}

          <a href="#"> Ask a Question</a>
        </div>

        <!-- This makes it so the mc-content doesn't go under the header -->
        <div class="mc-header-spacing">
          <h1> LUL </h1>
        </div>

        <hr>
      </div>

      <div class="mc-content">
        <ul class="question-list">
          {% for x in questions %}
          <li>
            <a href='{{ url_for('question', qid=x[3]) }}'>{{ x[0] }}</a>&nbsp;&nbsp;&nbsp;
            {% if username %}
            {% if username == x[5] or isAdmin%}
            <a href='{{ url_for('deletequestion', qid=x[3]) }}'> Delete </a>
            {% endif %}
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>

    </div>

    <div class="sidebar-wrapper">
      <div class="sidebar-right">

      </div>
    </div>

  </div>



</body>

