<head>
  <title>A place for discovery | Clarity</title>

  <link rel="shortcut icon" type="image/ico" href="../static/img/favicon.ico">
  <link rel="stylesheet" href="../static/css/forum.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

</head>

{% include 'header.html' %}

<body>
  <!-- Main container -->
  <div class="main-container-flexbox">
    <div class="sidebar-wrapper">
      <div class="sidebar-left">
        <!-- This will go to Categories page maybe -->
        <div class="sidebar-header">
          <a href="#">Categories</a>
          <hr>
        </div>
        <ul class="categories-list">
          {% for x in categories %}
          <li><a href="{{ url_for('forum', category=x[0]) }}">{{ x[0] }}</a></li>
          {% endfor %}
        </ul>
	<!--li><a href='{{ url_for('forum', category="#LMFAO") }}'>#LMFAO</a></li>
          <li><a href='{{ url_for('forum', category="#WUT") }}'>#WUT</a></li>
          <li><a href='{{ url_for('forum', category="#Food") }}'>#Food</a></li>
          <li><a href='{{ url_for('forum', category="#Cars") }}'>#Cars</a></li>
          <li><a href='{{ url_for('forum', category="#Funny") }}'>#Funny</a></li>
          <li><a href='{{ url_for('forum', category="#Movies") }}'>#Movies</a></li>
          <li><a href='{{ url_for('forum', category="#Programming") }}'>#Programming</a></li>
          <li><a href='{{ url_for('forum', category="#Gaming") }}'>#Gaming</a></li>
        </ul-->
      </div>
    </div>

    <div class="main-container">
      <div class="mc-header-wrapper">
        <div class="mc-header">
          {% if category %}
          <h1>
            #{{ category }}
          </h1>
          <a id="return" href="{{ url_for('forum') }}" style="margin: 0 0 0 5px;">
            <i class="fa fa-times" style="padding-bottom: 1px;"></i>
          </a>
          {% else %}
          <h1>All Questions</h1>
          {% endif %}

          <div class="mc-header-buttons" style="margin-left: auto;">
            <a class="search-question" href="{{ url_for('search') }}">
              <i class="fa fa-search"></i>
              Find
            </a>

            <a class="ask-question"
               href="{% if username %}
                      {{ url_for('postquestion') }}
                     {% else %}
                      {{ url_for('login') }}
                     {% endif %}">
              <i class="fa fa-pencil-square-o"></i>
              Ask
            </a>
          </div>

        </div>

        <!-- This makes it so the mc-content doesn't go under the header -->
        <div class="mc-header-spacing">
          <h1> LUL </h1>
        </div>


      </div>

      <div class="mc-content">
        <ul class="question-list">
          {% for x in questions %}
          <li class="question">
            <div class="question-header">
              Asked by
              <a href="#">{{ x[5] }}</a>
              in
              <a href="{{ url_for('forum', category=x[4]) }}">{{ x[4] }}
              </a>
              <!-- <i class="fa fa-dot-circle-o"></i> -->
              //
              {{ x[1] }}


              <div class="question-options">
                <div tabindex="0" class="ellipsis">
                  <a>
                    <i class="fa fa-ellipsis-h">
                    </i>
                  </a>
                </div>
                <div class="question-dropdown">
                  <ul class="dropdown-links">
                    <li>
                      <a href="#">
                        Report
                      </a>
                    </li>
                    {% if username and username == x[5] or isAdmin %}
                    <li>
                      <a href="{{ url_for('deletequestion', qid=x[3]) }}">
                        Delete
                      </a>
                    </li>
                    {% endif %}
                  </ul>


                </div>
              </div>

            </div>
            <div class="question-title">
              <a href="{{ url_for('question', qid=x[3]) }}">{{ x[0] }}</a>
            </div>

            <div class="question-body" style="white-space: pre-line;">
              {{ x[2] }}
            </div>

            <div class="question-footer">
              <a href="{{ url_for('question', qid=x[3]) }}">
                {% if username and username == x[5] %}
                Post Reply
                {% else %}
                Write Answer
                {% endif %}
              </a>
              <hr>
            </div>

            <script>
              var q = document.querySelectorAll('.question-body');
              for (var i = 0; i < q.length; i++)
                q[i].innerHTML = q[i].innerHTML.trim()
            </script>
          </li>
          {% endfor %}
        </ul>
      </div>

    </div>

    <div class="sidebar-wrapper">
      <div class="sidebar-right">

      </div>
    </div>

  </div>

  <script src="../static/js/forum.js"></script>

</body>

