<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<!-- TURN THIS INTO A NAVBAR PROBABLY -->
<div class="navbar">
  <div class="navbar-left">
    <div class="navbar-logo">
      <span class="logo">
        <a href="{{ url_for('forum', redirectTo='index') }}">SEXYLOGO</a>
      </span>
    </div> <!-- navbar-logo -->
  </div> <!-- navbar-left -->

  <div class="navbar-right">
    <div class="container">
      {% if username %}
      <span id="hello" >Hello, <a id="username" href="{{ url_for('settings') }}">{{ username }}</a></span>
      <a id="logout" href="{{ url_for('logout') }}">LOG OUT</a>
      {% else %}
      <a id="login" href="{{ url_for('login', redirectTo='index') }}">LOG IN</a>
      <a id="register" href="{{ url_for('register', redirectTo='index') }}">SIGN UP</a>
      {% endif %}
      <!-- <a href="{{ url_for('forum') }}">Forum</a> -->

    </div>
  </div> <!-- navbar-right -->

</div>

<body style="padding-top: 63px;">

</body>
