<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<!-- TURN THIS INTO A NAVBAR PROBABLY -->
<div class="navbar">
  <div class="navbar-left">
    <div class="navbar-logo">
      <span class="logo">
        <a href="{{ url_for('index', redirectTo='index') }}">clarity</a>
      </span>
    </div> <!-- navbar-logo -->
  </div> <!-- navbar-left -->

  <div class="navbar-right">
    <div class="container">
      {% if username %}
      <a href="{{ url_for('settings') }}">{{ username }}</a>
      {% else %}
      <a href='#'>penis</a>
      {% endif %}
      <a href="{{ url_for('forum') }}">Forum</a>
      <a href="{{ url_for('logout') }}">Logoutasdfasdfsa</a>
    </div>
  </div> <!-- navbar-right -->


</div>
