<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<!-- TEMP -->
{% include 'header.html' %}

<body>
  <div class="modal-container" >

    <div class="modal">

      <span class="logo">
        <a href="{{ url_for('index', redirectTo='index') }}">clarity</a>
      </span>

      <div class="links-container">
        {% if username %}
        <a href="{{ url_for('settings') }}">{{ username }}</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
        <a href="{{ url_for('login', redirectTo='index') }}">Login</a>
        <a href="{{ url_for('register', redirectTo='index') }}">Register</a>
        {% endif %}

        <a href="{{ url_for('forum') }}">Forum</a>
      </div>

    </div>

  </div>
</body>

<script src="{{ url_for('static', filename='js/PLACEHOLDER.js') }} "></script>
