<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
  {% if error %}
  <a href="#">{{ error }}</a>
  {% endif %}
  <div class="modal-container">
    <div class="modal">
      <span class="logo">
        <a href="{{ url_for('index', redirectTo='index') }}">clarity</a>
      </span>
      <div class="links-container" id="login-form">
        <form method="POST">
          <input type="text" name="username" placeholder="Username">
          <input type="password" name="password" placeholder="Password">
          <button type="submit" value="submit" name="button">Login</button>
        </form>
        <span class="newUser">New user? <a href="{{ url_for('register', redirectTo='index') }}">Register</a> now!</span>
      </div>
    </div>

  </div>

</body>

<script src="../static/js/PLACEHOLDER.js"></script>
