<head>
  <link rel="shortcut icon" type="image/ico" href="../static/img/favicon.ico">
  <link rel="stylesheet" href="../static/css/forum.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

  <title>Ask a Question | Clarity</title>
</head>

{% include 'header.html' %}

<body>
  <div class="main-container-flexbox">
    <div class="main-container">
      <form class="post-question" method="POST" style="background: white;">
        <div class="section-header">
          New Question
          <hr>
        </div>
        <div style="padding-bottom: 20px;">
          <div class="section-header2">
            <span class="maintext">Title - </span><span class="subtext"><em>Enter a title for your question</em></span>
            <hr>
          </div>
          <input class="title" type="text" name="questionTitle" placeholder="Enter your title here...">
          <button class="title-button" type="submit" name="submit" value="Find Answer">
            <i class="fa fa-search"></i>
          </button>
        </div>
        <div class="section-header2">
          <span class="maintext">Question Body - </span><span class="subtext"><em>Write additional info to help users better understand what you're asking.</em></span>
          <hr>
        </div>
        <textarea class="question-body" name="questionText" rows="4" cols="50"></textarea>
        <div class="section-header2">
          <span class="maintext">Category - </span><span class="subtext"><em>Pick one of the default categories, or create your own!</em></span>
          <hr>
        </div>
        <input type="radio" name="category" value="Programming"> <span class="mainradio">Programming - </span><span class="subradio">For questions related to all things programming</span><br>
        <input type="radio" name="category" value="Math"> <span class="mainradio">Math - </span><span class="subradio">From calculus to discrete math, ask math-related questions here!</span><br>
        <input type="radio" name="category" value="Movies"> <span class="mainradio">Movies - </span><span class="subradio">Look for new movie recommendations!</span><br>
        <input type="radio" name="category" value="Gaming"> <span class="mainradio">Gaming - </span><span class="subradio">Learn about games you've never played!</span><br>
        <input type="radio" name="category" value="Random"> <span class="mainradio">Random - </span><span class="subradio">Just random, off-topic questions here!</span><br>
        <input type="radio" name="category" value="other"> <input class="other" type="text" name="other" placeholder="Create a custom category..."><br><br>

        <div class="section-header2">
          <span class="maintext">Rep Requirement - </span><span class="subtext"><em>Require users to meet a certain Rep minimum in order to answer!</em></span>
          <hr>
        </div>
        <input class="credits {% if credit < 1 %}unclickable{% endif %}" style="width: 25%; margin-bottom: 5px;" type="text" name="min" placeholder="Enter a number...">
        <div class="subradio">It costs 1 credit to specify a requirement. You currently have <span style="color: rgba(125, 136, 255, 1);">{{ credit }}</span> credits. You can also just leave the field blank to let all users answer your question.</div>
        <br>

        <button class="submit-question" type="submit" name="submit" value="Post">
          Post Question
        </button>
      </form>
    </div>
  </div>
</body>

<script src="../static/js/PLACEHOLDER.js"></script>
