<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<div class="question-page">

	{% if username %}
	{% include 'header.html' %}
	{% else %}
	<a href="{{ url_for('login', redirectTo='index') }}">Login</a>
	<a href="{{ url_for('register', redirectTo='index') }}">Register</a>
	{% endif %}
	<br>

	<h1>{{ question[0] }}</h1>
	<h6> (category: {{ question[4] }})</h6>
	<span class="post-name">{{ question[5] }}</span> <span class="post-date">on {{ question[1] }}</span>

	<div class="post-comment">
		{{ question[2] }}
	</div>
	
	{% if username %}
	{% if username == question[5] %}
	<a href='{{ url_for("deletequestion", qid=question[3]) }}'> Delete </a>
	{% endif %}
	{% endif %}

	<hr>
	<hr>
	<hr>
	{% for x in answers %}
	<div>
	
		<div id="question-score-div">
			{% if username %}
			<a href="{{ url_for('vote', aid=x[2], updown='up') }}">{{ x[0] }}</a>
			{% else %}
			<a href="{{ url_for('login', redirectTo='forum') }}">{{ x[0] }}</a>
			{% endif %}
		</div>

		<div id="question-post-div">
			<span class="post-name">
				{{ x[5] }}
			</span>
			
			<span class="post-date">
				on {{ x[1] }}
			</span>
			
			<div class="post-comment">
				{{ x[3] }}
			</div>
			<br>
			{% if username %}
			{% if username == x[5] %}
			<a href='{{ url_for("deleteanswer", aid=x[2], qid=question[3]) }}'> Delete </a>
			{% endif %}
			{% endif %}
		</div>
		
	</div>
	<hr>
	{% endfor %}


	{% if username %}
	<div class="links-container" id="post-button">
		<form method="POST">
			<textarea name="answer" rows="4" style="width: 360px; max-width: 360px;"></textarea><br>
			<button type="submit" value="submit" name="button" style="width: 360px;">Post</button>
		</form>
	</div>
	{% endif %}

</div>
