<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

  <link rel="shortcut icon" type="image/ico" href="../static/img/favicon.ico">

  <title>Sign up for a new account | Clarity</title>
</head>

<body>
  <div class="notification-container" style="display: -webkit-flex; justify-content: center;">
    <div class="notification" style="text-align:center;padding: 20px; margin-top: -62px;">
      {% if error %}
      {{ error }}
      <script>
        var notif = document.querySelector('div.notification');

        setTimeout(function() {
          notif.className += " notif-active";
        }, 500);

        setTimeout(function() {
          notif.className = notif.className.replace(" notif-active", "");
        }, 3500);
      </script>
      {% endif %}
    </div>
  </div>



  <div class="modal-container">
    <div class="modal">
      <span class="logo">
        <a href="{{ url_for('forum') }}">clarity</a>
      </span>

      <div class="links-container" id="register-form" style="position: relative;">
        <!-- Tooltips for input forms -->
        <div class="fullname-tooltip">Sorry about that, but we need at least 3 characters for your name</div>
        <div class="username-tooltip">We're gonna need at least 4 characters for your username</div>
        <div class="password-tooltip">Minimum of 6 characters for your password, please!</div>
        <div class="passwordConf-tooltip">I don't think the two passwords match :/</div>

        <form method="POST">
          <input id="fullname" type="text" name="name" placeholder="Full Name">
          <input type="text" name="username" placeholder="Username">
          <input type="password" name="password" placeholder="Password">
          <input type="password" name="passwordconf" placeholder="Confirm password">
          <button type="submit" value="submit" name="button">Register</button>
        </form>
        <script>
          setTimeout(function() {
            document.querySelector('input').focus();
          }, 10);
        </script>
        <span class="newUser">Already have an account? <a href="{{ url_for('login', redirectTo='forum') }}">Log in!</a></span>
      </div>

    </div>
  </div>
</body>

<script src="../static/js/main.js"></script>
