{% include 'header.html' %}

<br>
<div class="settings-info">
Name: {{ userinfo[3] }}<br>
Gender: {{ userinfo[0] }}<br>
Username: {{ userinfo[2] }}<br>
Rank: {{ userinfo[1] }}<br>
</div>

<h3>Change Password</h3>
<div class="links-container" id="change-password-form">
	<form method="POST">
		<input type="password" name="password" placeholder="Current Password"><br>
		<input type="password" name="newpassword" placeholder="New Password"><br>
		<button type="submit" value="submit" name="button">Change</button>
	</form>
	{% if retval %}
		<font color=red> {{ retval }} </font>
	{% endif %}
</div>
